/** Imports**/
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: block;
  text-decoration: none;
  margin: 0;
}

/** Monserat font **/
@font-face {
  font-family: 'montserrat', 'arial', sans-serif;
  src: url("../fonts/montserrat/montserrat-ultralight.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat', 'arial', sans-serif;
  src: url("../fonts/montserrat/montserrat-light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat', 'arial', sans-serif;
  src: url("../fonts/montserrat/montserrat-regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/** Raleway **/
@font-face {
  font-family: 'raleway', 'arial', sans-serif;
  src: url("../fonts/raleway/raleway-regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway', 'arial', sans-serif;
  src: url("../fonts/raleway/raleway-semibold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway', 'arial', sans-serif;
  src: url("../fonts/raleway/raleway-bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway', 'arial', sans-serif;
  src: url("../fonts/raleway/raleway-extrabold.ttf");
  font-weight: normal;
  font-style: normal;
}

/** Roboto font **/
@font-face {
  font-family: roboto;
  src: url("../fonts/roboto/roboto-regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.header {
  margin: 0 auto;
  max-width: 1920px;
  height: 1024px;
  background-color: rgba(17, 17, 17, 0.7);
  background-image: url("../img/bg/bg_photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.header .head-block {
  width: 1170px;
  height: 56px;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.header .head-block .header__logo {
  width: 185px;
  margin: 0 220px 0 0;
}

.header .head-block .header__logo:hover {
  color: #998675;
}

.header .head-block .header__logo .logo-icon {
  fill: CurrentColor;
}

.header .head-block .header__logo .logo-txt {
  font-size: 34px;
  font-family: raleway, 'arial', sans-serif;
}

.header .head-block .nav-func {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.header .head-block .nav-func .head-block__nav {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.header .head-block .nav-func .nav-link {
  text-decoration: none;
  margin: 0 30px 0 0;
}

.header .head-block .nav-func .nav-link .link-text {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  font-family: montserrat, 'arial', sans-serif;
}

.header .head-block .nav-func .nav-link .link-text:hover {
  color: #c7b299;
}

.header .head-block .nav-func .cart {
  width: 18px;
  height: 24px;
  margin: 0 0 0 33px;
  fill: #ffffff;
}

.header .head-block .nav-func .cart:hover {
  fill: #c7b299;
}

.header .head-block .nav-func .search-input {
  width: 24px;
  height: 24px;
  margin: 0 0 0 26px;
  fill: #ffffff;
}

.header .head-block .nav-func .search-input:hover {
  fill: #c7b299;
}

.header .slider-block {
  width: 1620px;
  height: 603px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.header .slider-block .header__slider {
  margin: -55px 0 0 0;
  width: 1620px;
  height: 261px;
}

.header .slider-block .header__slider .slider-text {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header .slider-block .header__slider .slider-text .text-unique {
  display: block;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  margin: -26px 0 14px 0;
  font-family: raleway, 'arial', sans-serif;
}

.header .slider-block .header__slider .slider-text .text-portfolio {
  display: block;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #ffffff;
  margin: 0 0 19px 0;
  font-family: raleway, 'arial', sans-serif;
}

.header .slider-block .header__slider .slider-text .text-paragraph {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  margin: 0 0 52px 0;
  font-family: montserrat, 'arial', sans-serif;
}

.header .slider-block .header__slider .slider-text .paragraph__button .button-text {
  padding: 21px 38px;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #998675;
  color: #ffffff;
  border-radius: 3px;
  text-decoration: none;
  font-family: raleway, 'arial', sans-serif;
}

.header .slider-block .header__slider .slider-text .paragraph__button .button-text:hover {
  box-shadow: 3px  3px 5px 3px #000;
}

.header .slider-block .header__slider .slider-text .paragraph__button .button-text:active {
  background-color: #ccc;
}

.header .slider-block .header__slider .slider-btn-link {
  display: block;
}

.header .slider-block .header__slider .slider-btn-link .slider-btn-left,
.header .slider-block .header__slider .slider-btn-link .slider-btn-right {
  fill: #d3c1ad;
}

.header .slider-block .header__slider .slider-btn-link .slider-btn-left:hover,
.header .slider-block .header__slider .slider-btn-link .slider-btn-right:hover {
  fill: #a3a2a0;
}

.header .slider-block .pagination {
  width: 98px;
  height: 11px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.header .slider-block .pagination-item {
  display: block;
  width: 11px;
  height: 11px;
  background-color: #909093;
  border: 2px solid transparent;
  border-radius: 50%;
}

.header .slider-block .pagination-item:hover {
  transform: scale(1.2);
  border: 2.0px solid #ae9f90;
  background-color: #27262b;
}

.main {
  max-width: 1920px;
  margin: 0 auto;
}

.main .main__services {
  margin: 0 auto;
  max-width: 1920px;
  height: 1073px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 0 0;
}

.main .main__services .services-list {
  align-self: center;
  display: flex;
  justify-content: center;
  margin: 0 33px 160px 0;
}

.main .main__services .services-list .services-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 300px;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}

.main .main__services .services-list .services-item:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #555555;
}

.main .main__services .services-list .services-item:hover .services-item-icon {
  fill: #c7b299;
}

.main .main__services .services-list .services-item:hover .services-item-title {
  color: #c7b299;
}

.main .main__services .services-list .services-item:hover:after {
  background-color: #c7b299;
}

.main .main__services .services-list .services-item-icon {
  display: block;
  fill: #555555;
  margin: 0 0 20px 0;
}

.main .main__services .services-list .services-item-title {
  width: 1920px;
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  font-family: raleway, 'arial', sans-serif;
}

.main .main__services .services-list .services-item-txt {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  color: #8c8c8c;
  font-family: raleway, 'arial', sans-serif;
}

.main .main__services .development {
  background-color: #fbfaf8;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.main .main__services .development .anons-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  text-align: center;
}

.main .main__services .development .anons-block .title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  font-family: raleway, 'arial', sans-serif;
}

.main .main__services .development .anons-block .anons-text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  font-family: raleway, 'arial', sans-serif;
}

.main .main__services .development .img-block {
  width: 200%;
  min-height: 552px;
  background-image: url("../img/img-block/browser_center.png"), url("../img/img-block/browser_left.png"), url("../img/img-block/browser_right.png");
  background-size: 65%, 58%, 58%;
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right;
}

.main .aside-content {
  padding: 60px 0 53px;
  background-color: #f4f5f8;
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.main .aside-content .aside-text {
  width: 530px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin: 0 375px 0 0;
}

.main .aside-content .aside-text .aside-title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  font-family: raleway, 'arial', sans-serif;
}

.main .aside-content .aside-text .aside-title .waxom-mini {
  display: block;
  color: #c7b299;
  margin: 0 0 0 0;
}

.main .aside-content .aside-text .aside-paragraph {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
  margin: 0 0 0 0;
  font-family: montserrat, 'arial', sans-serif;
}

.main .aside-content .button-text {
  padding: 21px 38px;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #998675;
  color: #ffffff;
  border-radius: 3px;
  text-decoration: none;
  font-family: raleway, 'arial', sans-serif;
}

.main .aside-content .button-text:hover {
  box-shadow: 3px  3px 5px 3px #000;
}

.main .projects {
  max-width: 1920px;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main .projects-title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin-bottom: 24px;
  font-family: raleway, 'arial', sans-serif;
}

.main .projects-text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  margin-bottom: 40px;
  max-width: 960px;
  text-align: center;
  font-family: montserrat, 'arial', sans-serif;
}

.main .projects-nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 40px;
}

.main .projects-nav .categories__button {
  outline: none;
  padding: 9px 20px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  background-color: #fff;
  color: #b3b3b3;
  border-radius: 3px;
  text-decoration: none;
  margin: 0 10px;
  font-family: raleway, 'arial', sans-serif;
}

.main .projects-nav .categories__button:hover {
  background-color: #998675;
  color: #fff;
  box-shadow: 1px  1px 3px 1px #000;
}

.main .projects-nav .categories__button:first-child {
  padding: 9px 25px;
}

.main .projects-nav .categories__button:first-child {
  margin: 0;
}

.main .projects .projects-carts {
  max-width: 1170px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
}

.main .projects .projects-carts .project-item {
  text-decoration: none;
  width: 300px;
  background-color: #fbfaf8;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-flow: wrap;
  margin: 0 30px 30px 0;
}

.main .projects .projects-carts .project-item::last-child {
  margin: 0;
}

.main .projects .projects-carts .project-item:hover {
  box-shadow: 1px 1px 1px 2px #ccc;
}

.main .projects .projects-carts .project-item:hover .project-item-pic {
  filter: brightness(40%);
}

.main .projects .projects-carts .project-item:hover .project-item-wrp {
  background-color: #362f2d;
}

.main .projects .projects-carts .project-item:hover .project-item-title {
  color: #fff;
}

.main .projects .projects-carts .project-item:hover .project-item-text {
  color: #c7b299;
}

.main .projects .projects-carts .project-item:hover .project-item-wrp:before {
  border-bottom: 10px solid #362f2d;
}

.main .projects .projects-carts .project-item:hover .project-item-btn-chain {
  display: block;
}

.main .projects .projects-carts .project-item:hover .project-item-btn-search {
  display: block;
}

.main .projects .projects-carts .project-item-pic {
  display: block;
  width: 100%;
}

.main .projects .projects-carts .project-item-wrp {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fbfaf8;
  position: relative;
  width: 100%;
  text-align: left;
}

.main .projects .projects-carts .project-item-wrp:before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  position: absolute;
  top: -20px;
  left: 15px;
  color: #fbfaf8;
}

.main .projects .projects-carts .project-item-title {
  display: block;
  text-align: center;
  font-family: raleway;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
}

.main .projects .projects-carts .project-item-text {
  display: block;
  text-align: center;
  font-family: montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
}

.main .projects .projects-carts .project-item-btn-chain {
  display: none;
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 106px;
  left: 80px;
}

.main .projects .projects-carts .project-item-btn-chain .chain-pic {
  fill: #c7b299;
}

.main .projects .projects-carts .project-item-btn-search {
  display: none;
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 106px;
  right: 93px;
  text-decoration: none;
}

.main .projects .projects-carts .project-item-btn-search .search-pic {
  fill: #fff;
}

.main .projects .projects-carts .project-item-btn-search:hover {
  background-color: #2f2f30;
}

.main .projects .load-more__button {
  outline: none;
  padding: 21px 38px;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #998675;
  color: #ffffff;
  border-radius: 3px;
  text-decoration: none;
  margin: 0 10px;
  font-family: raleway, 'arial', sans-serif;
}

.main .projects .load-more__button:hover {
  background-color: #998675;
  color: #fff;
  box-shadow: 1px  1px 3px 1px #000;
}

.main .video-presentation {
  width: 1920px;
  min-height: 705px;
  background-color: rgba(17, 17, 17, 0.5);
  position: relative;
}

.main .video-presentation .video-play {
  object-fit: cover;
}

.main .video-presentation:hover .video-play {
  filter: brightness(40%);
}

.main .video-presentation .video-control {
  max-width: 640px;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 34%;
  left: 34%;
}

.main .video-presentation .video-control .video-play-btn {
  display: flex;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  margin-bottom: 45px;
  outline: none;
}

.main .video-presentation .video-control .video-play-btn .video-play-btn-icon {
  margin: auto;
  fill: #fff;
}

.main .video-presentation .video-control .video-play-btn:hover .video-play-btn-icon {
  fill: coral;
}

.main .video-presentation .video-control .video-play-btn:active .video-play-btn-icon {
  fill: bisque;
}

.main .video-presentation .video-control .video-play-btn--hide {
  display: none;
}

.main .video-presentation .video-control .video-control-title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 30px;
  font-family: raleway, 'arial', sans-serif;
}

.main .video-presentation .video-control .video-control-text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
  font-family: montserrat, 'arial', sans-serif;
}

.main .video-presentation .video-control .time {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #c7b299;
  font-family: montserrat, 'arial', sans-serif;
}

.main .for-mobile {
  margin: 0 auto;
  max-width: 1920px;
  background-color: #fbfaf8;
  background-image: url("../img/bg/iphone_in_hand.png");
  background-repeat: no-repeat;
  background-position: 30% 100%;
  display: flex;
  padding: 200px 390px 183px 857px;
}

.main .for-mobile-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.main .for-mobile-wrap .for-mobile-title {
  margin: 0 0 40px 0;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  text-align: left;
  font-family: raleway, 'arial', sans-serif;
}

.main .for-mobile-wrap .for-mobile-text {
  margin: 0 0 40px 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  color: #8c8c8c;
  flex-flow: wrap;
  text-align: left;
  font-family: raleway, 'arial', sans-serif;
}

.main .for-mobile-wrap .for-mobile-list {
  margin: 0 0 0 0;
  list-style-type: none;
}

.main .for-mobile-wrap .for-mobile-list-item {
  position: relative;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  color: #8c8c8c;
  margin-left: 50px;
  font-family: montserrat, 'arial', sans-serif;
}

.main .for-mobile-wrap .for-mobile-list-item::before {
  position: absolute;
  display: block;
  content: '>';
  width: 21px;
  height: 21px;
  background-color: #c7b299;
  color: #fff;
  border-radius: 50%;
  background-size: cover;
  text-align: center;
  line-height: 21px;
  top: 5px;
  left: -29px;
}

.main .satisfied-clients {
  max-width: 1920px;
  padding: 70px 500px;
  background-color: #f4f5f8;
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.main .satisfied-clients-list {
  align-items: center;
  display: flex;
  justify-content: center;
}

.main .satisfied-clients-list .satisfied-clients-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 300px;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}

.main .satisfied-clients-list .satisfied-clients-item:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #555555;
}

.main .satisfied-clients-list .satisfied-clients-item:hover .satisfied-clients-item-icon {
  fill: #c7b299;
}

.main .satisfied-clients-list .satisfied-clients-item:hover .satisfied-clients-item-title {
  color: #c7b299;
}

.main .satisfied-clients-list .satisfied-clients-item:hover:after {
  background-color: #c7b299;
}

.main .satisfied-clients-list .satisfied-clients-item-icon {
  display: block;
  fill: #c7b299;
  margin: 0 0 20px 0;
}

.main .satisfied-clients-list .satisfied-clients-item-title {
  width: 1920px;
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #ffffff;
  font-family: montserrat, 'arial', sans-serif;
}

.main .satisfied-clients-list .satisfied-clients-item-txt {
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
  font-family: montserrat, 'arial', sans-serif;
}

.main .recent-posts {
  max-width: 1920px;
  padding: 80px 375px 140px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main .recent-posts .posts-title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  text-align: center;
  font-family: raleway, 'arial', sans-serif;
}

.main .recent-posts .posts-text {
  width: 960px;
  flex-flow: wrap;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: center;
  font-family: montserrat, 'arial', sans-serif;
}

.main .recent-posts .recent-posts-block {
  margin: 0 0 40px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.main .recent-posts .recent-posts-block::last-child {
  margin: 0;
}

.main .recent-posts .recent-posts-block .post-item {
  margin: 0 30px 0 0;
  padding: 0 0 30px 0;
  width: 370px;
  box-sizing: border-box;
  border: 1px solid #f8f8f8;
  align-items: flex-start;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main .recent-posts .recent-posts-block .post-item:hover {
  background-color: #362f2d;
}

.main .recent-posts .recent-posts-block .post-item .post-date {
  top: 20px;
  left: 20px;
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main .recent-posts .recent-posts-block .post-item .post-date .date-number {
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  width: 50px;
  height: 35px;
  background-color: #363636;
  border-radius: 3.0px 3.0px 0.0px 0.0px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: montserrat, 'arial', sans-serif;
}

.main .recent-posts .recent-posts-block .post-item .post-date .date-day {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  width: 50px;
  height: 25px;
  background-color: #252525;
  border-radius: 0.0px 0.0px 3.0px 3.0px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: roboto, 'arial', sans-serif;
}

.main .recent-posts .recent-posts-block .post-item .post-item-img {
  width: 100%;
  background-color: #777777;
  margin: 0 0 30px 0;
}

.main .recent-posts .recent-posts-block .post-item .post-item-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #555555;
  text-align: left;
  margin: 20px 0 30px 30px;
  font-family: raleway, 'arial', sans-serif;
}

.main .recent-posts .recent-posts-block .post-item .post-item-text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: left;
  margin: 0px 0 30px 30px;
  font-family: montserrat, 'arial', sans-serif;
}

.main .recent-posts .recent-posts-block .post-item .learn-more-btn {
  margin-left: 27px;
  padding: 2px 9px 2px 6px;
  min-width: 90px;
  text-decoration: none;
}

.main .recent-posts .recent-posts-block .post-item .learn-more-btn:hover {
  outline: 1px solid #7a7977;
}

.main .recent-posts .recent-posts-block .post-item .learn-more-btn-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
  position: relative;
  text-align: center;
  font-family: montserrat, 'arial', sans-serif;
}

.main .recent-posts .recent-posts-block .post-item .learn-more-btn-text::after {
  content: url(../img/posts-imgs/arrow.svg);
  position: absolute;
  display: block;
  width: 5px;
  height: 8px;
  color: #c7b299;
  top: 0px;
  right: -8px;
}

.main .recent-posts .posts-switch-buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.main .recent-posts .posts-switch-buttons .switch-button {
  display: block;
  width: 22px;
  height: 22px;
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #c7b299;
  border-radius: 50%;
  margin: 0 8px;
  outline: none;
}

.main .recent-posts .posts-switch-buttons .switch-button::before {
  content: '>';
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  color: #c7b299;
  left: 0;
  top: 2px;
}

.main .recent-posts .posts-switch-buttons .switch-button:hover {
  border: 1px solid #d1d1d1;
}

.main .recent-posts .posts-switch-buttons .switch-button:activ {
  border: 1px solid #d1d1d1;
}

.main .partners {
  max-width: 1920px;
  background-color: rgba(17, 17, 17, 0.7);
  background-image: url("../img/bg/bg_partners.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.main .partners .partners-item {
  margin: 0 90px;
  max-width: 210px;
}

.main .partners .partners-item::last-child {
  margin: 0;
}

.contacts {
  margin: 0 auto;
  max-width: 1920px;
  height: 508px;
  background-color: #191919;
}

.copyrights {
  margin: 0 auto;
  max-width: 1920px;
  height: 111px;
  background-color: #111111;
}

.contacts {
  padding: 110px 0 0 0;
  max-width: 1920px;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.contacts .about-wacom {
  max-width: 258px;
  padding: 0 40px 0 0;
  margin: -24px 0 0 0;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contacts .about-wacom .header__logo {
  width: 185px;
  color: #fff;
  margin: 0 0 30px 0;
}

.contacts .about-wacom .header__logo:hover {
  color: #998675;
}

.contacts .about-wacom .header__logo .logo-icon {
  fill: CurrentColor;
}

.contacts .about-wacom .header__logo .logo-txt {
  font-size: 34px;
  font-family: raleway, 'arial', sans-serif;
}

.contacts .about-wacom .footer-post-item-text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: left;
  margin: 0px 0 30px 0;
  font-family: montserrat, 'arial', sans-serif;
}

.contacts .about-wacom .footer-learn-more-btn {
  padding: 2px 9px 2px 6px;
  min-width: 90px;
  text-decoration: none;
  background-color: #191919;
  outline: none;
  border: none;
}

.contacts .about-wacom .footer-learn-more-btn:hover {
  outline: 1px solid #7a7977;
}

.contacts .about-wacom .footer-learn-more-btn-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #555555;
  position: relative;
  text-align: center;
  font-family: montserrat, 'arial', sans-serif;
}

.contacts .about-wacom .footer-learn-more-btn-text::after {
  content: url(../img/posts-imgs/arrow.svg);
  position: absolute;
  display: block;
  width: 5px;
  height: 8px;
  color: #c7b299;
  top: -2px;
  right: -8px;
}

.contacts .recent-posts-section {
  max-width: 262px;
  padding: 0 40px 0 0;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contacts .recent-posts-section .posts-title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  font-family: raleway, 'arial', sans-serif;
}

.contacts .recent-posts-section .posts-block {
  max-width: 262px;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contacts .recent-posts-section .posts-block .post-block-item {
  padding: 20px 10px 20px 0;
  box-sizing: border-box;
  border-bottom: 2px solid #252525;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contacts .recent-posts-section .posts-block .post-block-item:last-child {
  border-bottom: none;
}

.contacts .recent-posts-section .posts-block .post-block-item .post-link {
  text-decoration: none;
}

.contacts .recent-posts-section .posts-block .post-block-item .post-link:hover .post-date {
  color: #ffffff;
}

.contacts .recent-posts-section .posts-block .post-block-item .post-link:hover .post-content {
  color: #c7b299;
}

.contacts .recent-posts-section .posts-block .post-block-item .post-link .post-date {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
  font-family: montserrat, 'arial', sans-serif;
}

.contacts .recent-posts-section .posts-block .post-block-item .post-link .post-content {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  flex-flow: wrap;
  font-family: montserrat, 'arial', sans-serif;
}

.contacts .our-twitter-section {
  max-width: 262px;
  padding: 0 40px 0 0;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contacts .our-twitter-section .twitter-title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  font-family: raleway, 'arial', sans-serif;
}

.contacts .our-twitter-section .twitter-block {
  max-width: 262px;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contacts .our-twitter-section .twitter-block .twit-block-item {
  padding: 20px 10px 20px 0;
  box-sizing: border-box;
  border-bottom: 2px solid #252525;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contacts .our-twitter-section .twitter-block .twit-block-item:last-child {
  border-bottom: none;
}

.contacts .our-twitter-section .twitter-block .twit-block-item .twit-link {
  text-decoration: none;
}

.contacts .our-twitter-section .twitter-block .twit-block-item .twit-link:hover .twit-date {
  color: #ffffff;
}

.contacts .our-twitter-section .twitter-block .twit-block-item .twit-link:hover .twit-content {
  color: #c7b299;
}

.contacts .our-twitter-section .twitter-block .twit-block-item .twit-link .twit-time {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
  font-family: montserrat, 'arial', sans-serif;
}

.contacts .our-twitter-section .twitter-block .twit-block-item .twit-link .twit-content {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  flex-flow: wrap;
  font-family: montserrat, 'arial', sans-serif;
}

.contacts .dribbble-widget {
  padding: 0 40px 0 0;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contacts .dribbble-widget .widget-title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
  margin: 0 0 26px 0;
  font-family: raleway, 'arial', sans-serif;
}

.contacts .dribbble-widget .widget-block {
  max-width: 280px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: wrap;
}

.contacts .dribbble-widget .widget-block-link {
  text-decoration: none;
  margin: 0 9px 9px 0;
}

.contacts .dribbble-widget .widget-block-link:last-child {
  margin: 0 0 9px 0;
}

.contacts .dribbble-widget .widget-block .widget-img {
  width: 130px;
  height: 98px;
  background-color: #777777;
}

.copyrights {
  max-width: 1920px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.copyrights .copyright-menu {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  margin: 0 450px 0 0;
  font-family: montserrat, 'arial', sans-serif;
}

.copyrights .copyright-menu .waxom-footer {
  text-decoration: none;
  color: #959595;
}

.copyrights .copyright-menu .waxom-footer:hover {
  color: #fff;
}

.copyrights .copyright-menu .privacy-police, .copyrights .copyright-menu .faq, .copyrights .copyright-menu .support {
  text-decoration: none;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  font-family: montserrat, 'arial', sans-serif;
}

.copyrights .copyright-menu .privacy-police:hover, .copyrights .copyright-menu .faq:hover, .copyrights .copyright-menu .support:hover {
  color: #c7b299;
}

.copyrights .designed-by {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  font-family: montserrat, 'arial', sans-serif;
}

.copyrights .designed-by .theme-fire, .copyrights .designed-by .only-on {
  text-decoration: none;
  color: #555555;
}

.copyrights .designed-by .theme-fire:hover, .copyrights .designed-by .only-on:hover {
  color: #959595;
}
