.logo
    display: flex
    justify-content: space-between
    align-items: center
    text-decoration: none
    color: #fff
    font-family: 'Raleway', sans-serif
.slider
    display: flex
    justify-content: space-between
    align-items: center
.button
    display: block
    text-decoration: none

    margin: 0
